<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <%= include('./navbar.ejs') %>
  <h1>Dashboard</h1>
  <!-- Display fake data from jsonplaceholder -->
</body>
</html>
